@using Forum.ViewModels.ViewModels
@model PostViewModel

@{
    ViewData["Title"] = "Reply";
    int postIdx = (int)ViewData["PostsIndex"];
    int replyIdx = (int)ViewData["RepliesIndex"];
    int postPgSize = (int)ViewData["PostsPageSize"];
    int replyPgSize = (int)ViewData["RepliesPageSize"];
}

<div class="modal fade" id="@("edit-" + Model.PostId)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit:</h5>
            </div>
            <div class="modal-body text-left">
                <form asp-controller="Post" asp-action="EditPostAdmin" asp-route-postIdx="@postIdx" asp-route-replyIdx="@replyIdx" asp-route-postPgSize="@postPgSize" asp-route-replyPgSize="@replyPgSize" method="post">
                    <input type="hidden" asp-for="PostId" value="@Model.PostId" />
                    <input type="hidden" asp-for="EditedBy" value="Admin" />
                    <div class="form-group mb-0">
                        <textarea class="form-control font-weight-bold" asp-for="Content" rows="3"></textarea>
                    </div>
                    <div class="pt-3 text-center">
                        <button class="btn register-btn reset" data-dismiss="modal">Close</button>
                        &nbsp;
                        <button class="btn register-btn submit" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
