@using Forum.ViewModels.ViewModels
@model IEnumerable<PostViewModel>

@{
    ViewData["Title"] = "RecentPosts";
    UserViewModel currentUser = ViewBag.CurrentUser;

    if(currentUser != null)
    {
        ViewData["UserID"] = currentUser.Id;
    }
}

<h2>Recent Posts</h2>

<table class="table-striped">
    <tbody>
        @foreach (PostViewModel post in Model)
        {
            ViewData["Post"] = post;

            <tr>
                <td colspan="3" style="background-color:#2b3e50">
                    <a asp-action="ShowPostsAsync" asp-controller="Post" asp-route-threadId="@post.Thread.ThreadID">@post.Thread.Title</a>
                </td>
            </tr>
            <tr class="post-row">
                <td class="verticalSplit col-md-2" style="background-color:#4e5d6c">
                    <ul class="user-info">
                        <li>
                            <img style="border:1px solid white" src="@post.User.Avatar" />
                        </li>
                        <li>
                            <b style="color:#ffd49c">@post.User.Username</b>
                        </li>
                        @if (post.User.Administrator == true)
                        {
                            <li style="color:#3b97f7">
                                <b>Administrator</b>
                            </li>
                        }
                        <li>
                            Joined: @post.User.Joined.ToShortDateString()
                        </li>
                        @if (post.User.Online)
                        {
                            <li>Status:&nbsp;<b style="color: lightseagreen;">Online</b></li>
                        }
                        else
                        {
                            <li>Status:&nbsp;<span style="color:#ff794d"><b>Offline</b></span></li>
                        }

                        @if (post.User.Suspended == true)
                        {
                            <li>Account status:&nbsp;<span style="color:#ff794d"><b>Suspended</b></span></li>
                        }
                        else
                        {
                            <li>Account status:&nbsp;<span style="color:lightseagreen"><b>Active</b></span></li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (post.User.Username != User.Identity.Name && currentUser.Suspended == false)
                        {
                            <button class="btn btn-success btn-xs pm-btn" border-radius:7px" data-toggle="modal" data-target="@("#userId" + post.User.Id)">PM</button>
                            <partial name="_PrivateMessage" view-data="ViewData" />
                        }
                    }
                </td>
                @if (post.Content.Contains("e3f79af2"))
                {
                    string[] arr = post.Content.Split(new string[] { "e3f79af2" }, StringSplitOptions.None);
                    var part1 = arr[0];
                    var part2 = arr[1];
                    var part3 = arr[2];

                    <td class="content col-md-8" style="background-color:#4e5d6c"><span style="color:darkorange"><i>@part1</i></span> <br /> <span style="color:darkorange"><i><q>@part2</q></i></span> <br /> <br /> @part3 <br /></td>
                }
                else
                {
                    <td class="content col-md-8" style="background-color:#4e5d6c">@post.Content</td>
                }
                <td class="verticalSplit col-md-2 date" style="background-color:#4e5d6c">Created: @post.DateCreated.ToShortDateString() @post.DateCreated.ToShortTimeString()</td>
            </tr>
            @if (User.Identity.IsAuthenticated)
            {
                <tr class="buttons">
                    <td colspan="3" class="text-right" style="background-color:#2b3e50; border-bottom:2px solid #2b3e50">
                        @if (post.User.Username == User.Identity.Name || User.IsInRole("admin"))
                        {
                            <button class="btn btn-warning btn-xs edit-btn" data-toggle="modal" data-target="@("#postID" + post.PostID)">Edit</button>
                            <partial name="_EditPost" view-data="ViewData" />
                            <a class="btn btn-danger btn-xs delete-btn" asp-action="DeletePostAsync" asp-controller="Post" asp-route-postId="@post.PostID" asp-route-view="RecentPostsAsync" asp-route-currentPage="@ViewBag.Page">Delete</a>
                        }

                        @if (User.Identity.Name != post.User.Username && currentUser.Suspended == false)
                        {
                            <button class="btn btn-primary btn-xs reply-btn" data-toggle="modal" data-target="@("#postId" + post.PostID)">Reply</button>
                            <partial name="_PostReply" view-data="ViewData" />
                        }

                        @if (post.User.Username != User.Identity.Name && !User.IsInRole("admin") && post.Reported == false && post.User.Administrator != true)
                        {
                            <a class="btn btn-danger btn-xs report-btn" asp-action="ReportPostAsync" asp-controller="Post" asp-route-postId="@post.PostID" asp-route-view="RecentPostsAsync" asp-route-page="@ViewBag.Page">Report</a>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr class="blank-row"></tr>
            }
        }
    </tbody>
</table>
<br />

@if (ViewBag.TotalPosts > 5)
{
    <div class="text-center">
        @for (int i = 0; i < ViewBag.TotalPages; i++)
        {
            var index = i + 1;

            if (index == ViewBag.Page + 1)
            {
                <a style="padding:0px 7px; text-decoration:underline; color:white" asp-action="RecentPostsAsync" asp-controller="Post" asp-route-page="@i"><strong>@index</strong></a>
                continue;
            }
            <a style="padding:0px 7px" asp-action="RecentPostsAsync" asp-controller="Post" asp-route-page="@i">@index</a>
        }
    </div>
}
<br />