@using Forum.ViewModels.ViewModels;
@model IEnumerable<PostViewModel>;

@{
    ViewData["Title"] = "ReportedPostsAsync";
}

<h2 class="text-center">Reported Posts</h2>

<br />
@if (Model.Count() > 0)
{
    <table class="table-striped members" style="margin:0 auto">
        <thead>
            <tr>
                <th style="width:15%; padding:1%">Reported</th>
                <th class="text-center" style="width:50%">Content</th>
                <th class="text-center" style="width:35%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (PostViewModel post in @Model)
            {
                <tr>
                    <td style="padding:1%">
                        @post.User.Username
                    </td>
                    <td class="text-center">
                        @post.Content
                    </td>
                    <td class="text-center">
                        <a class="btn btn-success btn-sm cancel-btn" style="float:right; margin-right:0.9%; margin-top:0.7%" asp-action="ClearAllReportsAsync" asp-controller="Post" asp-route-userId="@post.UserID">Clean All</a>
                        <a class="btn btn-success btn-sm cancel-btn" style="float:right; margin-right:0.9%; margin-top:0.7%" asp-action="UnreportPostAsync" asp-controller="Post" asp-route-postId="@post.PostID">Clean</a>
                        <a class="btn btn-danger btn-sm delete-btn" style="float:right; margin-right:0.9%" asp-action="DeleteUserAsync" asp-controller="User" asp-route-userId="@post.User.Id" asp-route-view="ReportedPostsAsync">Delete User</a>
                        <a class="btn btn-danger btn-sm delete-btn" style="float:right; margin-right:0.9%" asp-action="DeletePostAsync" asp-controller="Post" asp-route-postId="@post.PostID" asp-route-view="ReportedPostsAsync">Delete Post</a>
                        <a class="btn btn-warning btn-sm suspend-btn" style="float:right; color:white; margin-right:0.9%" asp-action="SuspendUnsuspendAsync" asp-controller="User" asp-route-username="@post.User.Username" asp-route-userId="@post.UserID">Suspend</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 style="margin-left:37%">No reports at the moment.</h3>
}
<br />