@using Forum.ViewModels.ViewModels;

@{
    PostViewModel post = (PostViewModel)ViewData["Post"];
}

<div id="@("userId" + post.User.Id)" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Private message to <span style="color:aqua">&nbsp;@post.User.Username</span></h4>
            </div>
            <div class="modal-body">
                <form asp-action="CreateMessageAsync" asp-controller="Message" asp-route-threadId="@post.ThreadID" asp-route-view="@ViewBag.View" asp-route-search="@ViewBag.SearchTerm" asp-route-page="@ViewBag.Page" method="post">
                    <input name="ReceiverID" type="hidden" value="@post.User.Id" />
                    <input name="ReceiverUsername" type="hidden" value="@post.User.Username" />
                    <input name="SenderID" type="hidden" value="@ViewData["UserID"]" />
                    <input name="SenderUsername" type="hidden" value="@User.Identity.Name" />
                    <div class="form-group">
                        <textarea name="content" class="form-control" id="content" style="border-radius:7px" rows="3"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-info send-btn" style="margin-right:10px">Send</button>
                        <button type="button" class="btn btn-danger close-btn" data-dismiss="modal" style="margin-left:10px">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>