@using Forum.ViewModels.ViewModels
@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid categories">
    @foreach (CategoryViewModel category in Model)
    {
        <table class="table">
            <caption class="py-0 mb-2">
                <a asp-action="ViewCategory" asp-controller="Category" asp-route-categoryId="@category.CategoryId">@category.Name</a>
            </caption>
            <thead>
                <tr>
                    <th>
                        Topic
                    </th>
                    <th class="text-center">
                        Threads
                    </th>
                    <th class="text-right">
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ThreadViewModel thread in category.Threads)
                {
                    <tr>
                        <td class="text-left" id="thread-title">
                            <a asp-action="ViewThread" asp-controller="Thread" asp-route-threadId="@thread.ThreadId"> <b>@thread.Title</b></a>
                        </td>
                        <td class="text-center date-info-text" id="thread-count" style="color:#696969;">
                            @thread.PostsCount
                        </td>
                        <td class="text-right date-info-text" id="thread-date" style="color:#696969;">
                            @thread.DateCreated.ToString("dd/MMM/yyyy")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (User.Identity.IsAuthenticated is true && User.IsInRole("admin") is true)
    {
        <div class="container-fluid w-75 mt-5">
            @{
                var formModel = new CategoryViewModel();
                <form asp-controller="Category" asp-action="CreateCategory" method="post">
                    <input class="form-control" type="text" asp-for="@formModel.Name" placeholder="Category's title..." />
                    <div class="pt-3 text-center">
                        <button class="btn register-btn reset" type="reset">Clear</button>
                        &nbsp;
                        <button class="btn register-btn submit" type="submit">Create</button>
                    </div>
                </form>
            }
        </div>
    }
</div>